<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NOTE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form action="/dashboard/search" method="post" class="nav width-80 col-14 col-md-auto flex-fill mb-2 justify-content-center mb-md-0">
        <input type="search" name="search" class="form-control border-primary" placeholder="Search"/>
      </form>
          <a href="/logout" class="btn btn-outline-success" type="submit">logout</a>
          
    
      </div>
    </div>
  </nav>