<div class="py-md-5 mb-5 container-fluid container-fluid-custom">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 posotion-relative home-title">
          Write your thoughes here
        </h1>
        <p class="fs-4 mb-4">
          oiwehgwe[rhgoier=ge0ohirge=rgjoidmgpbrhgoiuwghergivufhbpireguvheprgfiuhg-bhergaihsdg
        </p>
        <a href="/login" class="btn btn-primary btn-lg">Try notes its free</a>
      </div>
    </div>
  </main>
</div>